<a href="/users">Home</a> > <a href="/routines">Routines</a> > Edit Routine

<h1>Edit Routine for <%= current_user.name %></h1>

<form action="/routines/<%= @routine.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="name" placeholder="<%= @routine.name %>"><br>
  How Many Times Per Week? <input type="text" name="times_per_week" placeholder="<%= @routine.times_per_week %>"><br>
  <br>
  <strong>Choose from a list of Existing Exercises:</strong> <br>
  <% current_user.exercises.each do |exercise| %>
    <input type="checkbox" name="exercises[]" id="<%= exercise.id %>"
      value="<%= exercise.id %>" <%='checked' if @routine.exercises.include?(exercise) %>><%= exercise.name %>
    </input><br>
  <% end %>
  <br>
  <strong>... or create a new Exercise!</strong><br>
  Name: <input type="text" name="exercises[][name]"><br>
  Sets: <input type="text" name="exercises[][sets]"><br>
  Reps: <input type="text" name="exercises[][reps]"><br>
  <input type="submit" value="submit">
</form>
